{% extends "general_layout_without_side_nav.html" %}
{% block side_nav %}
    {#以下为侧边栏位#}
    <div class="col-md-2">
        <div class="content-section">
            <h3>导航栏</h3>
            <p class='text-muted'>新闻
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">最新</li>
                <li class="list-group-item list-group-item-light">公告</li>
                <li class="list-group-item list-group-item-light">日历</li>
                <li class="list-group-item list-group-item-light">其他</li>
            </ul>
            </p>
        </div>
    </div>
{% endblock %}
